<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="js/vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="txt">
        <input type="button" value="按钮" @click="send">
        <ul>
            <li v-for="val of arr">{{val}}</li>
        </ul>
    </div>
</body>
<script>
    let vm=new Vue({
        el:'#app',
        data:{
            txt:'bmw',
            arr:['aa','bb']
        },
        methods:{
            send(){
                this.arr.push(this.txt);
                this.txt=""
            }
        }
    })

</script>
</html>